@import "../../theme/variables.scss";

.datefield_wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 250px;
    height: 42px;
    box-sizing: border-box;
    font-family: $font-family-main;
    border: 1px solid $grey-base-color;
    border-radius: $border-radius-base;
    background-color: $white-color;
    padding: $spacing-md;

    img {
        cursor: pointer;
    }
}

.date_input {
    @include fontSize($font-size-md, $font-weight-light);
    flex: 1;
    border: none;
    outline: none;
    padding: $spacing $spacing $spacing $spacing-sm;

    ::placeholder {
        color: $grey-base-color;
    }
}