@import "../../assets/style/variables.scss";

.Button {
  cursor: pointer;
  width: calc(100% + 8px);
  color: $dark-color;
  background-color: inherit;
  font-size: $font-size-md;
  padding: 8px 0 4px 0;
  margin: 0 -8px -4px  -4px;
  border-bottom-left-radius: $base-border-radius;
  border-bottom-right-radius: $base-border-radius;
  border: none;
  border-color: $grey-light-color;
  border-top: 1px solid $grey-base-color;

  &:hover{
    background-color: $light-color;
  }
}