@import "../../theme/variables.scss";

.wrappper {
  cursor: pointer;
  width: calc(100% + $spacing-sm);
  color: $dark-color;
  background-color: inherit;
  font-size: $font-size-md;
  padding: $spacing-sm $spacing $spacing-xs $spacing;
  margin: $spacing $negative-spacing-sm $negative-spacing-xs $negative-spacing-xs;
  border-bottom-left-radius: $border-radius-base;
  border-bottom-right-radius: $border-radius-base;
  border: none;
  border-color: $grey-light-color;
  border-top: 1px solid $grey-base-color; 

  &:hover{
    background-color: $light-color;
  }
}