@import '../../theme/variables.scss';

.wrapper {
    @include flex-space-between();
    @include fontSize($font-size-sm, $font-weight-bold);
    margin: $spacing-sm $spacing-xs;
    color: $dark-color;

    span, img {
      cursor: pointer;
    }
  }
