@import "../../assets/style/variables.scss";

.week_names {
    @include fontSize($font-size-sm, 700);
    height: $size-base-cell;
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-columns: repeat(7, 1fr);
}

.table_days {
    @include fontSize($font-size-xs, 600);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
}

.calendar_day {
    @include flex-center;
    position: relative;
    height: $size-base-cell;
    border-radius: $base-border-radius;

    cursor: pointer;

    &:hover {
        background-color: $primary-hover-color !important;
        color: $light-color
    }
}

.additional_day {
    cursor: pointer;
    color: $grey-base-color;
}

.disabled_day {
    cursor:default;
    color: $dark-color;
    opacity: 0.3;
    padding: 0;
    margin: 0;
    &:hover {
        background-color: $primary-hover-color;
        color: inherit;

    }
}

.calendar_today {
    background-color: $grey-light-color;
}

.calendar_item {
    @include flex-center;
    cursor: pointer;
    padding: 16px 0px;
    border-radius: 8px;

    &:hover {
        background-color: $primary-hover-color;
    }
}

.select_day {
    color: $light-color;
    background-color: $primary-color;

    &:hover {
        background-color: $primary-hover-color;
    }
}

.calendar_year {
    @include fontSize($font-size-sm, 600);
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.calendar_unchoosable_year {
    font-weight: 300;
    padding: 16px 20px;
    color: $grey-base-color;
}

.start_range {
    border-top-right-radius: 0; 
    border-bottom-right-radius: 0;
    background-color: $primary-color !important;
    color: $light-color;
}
.end_range {
    border-top-left-radius: 0; 
    border-bottom-left-radius: 0;
    background-color: $primary-color !important;
    color: $light-color;
}
.selected_range{
    border-radius: 0;
    background-color: $primary-light-color !important;
    color: $primary-color;
}
.has_todolist{
    position: absolute;
    top: 4px;
    right: 4px;
    width: 6px;
    height: 6px;
    background-color: $orange-color; 
    border-radius: 50%;
}
