@import "../../theme/variables.scss";

.calendar {
  position: absolute;
  top: calc(100% + $spacing-sm);
  width: 250px;
  max-width: 250px;
  box-sizing: border-box;
  border: 1px solid $grey-base-color;
  border-radius: $border-radius-base;
  padding: $spacing-xs;
  background-color: $white-color;
  z-index: $z-index-medium;
}

.calendar-header {
  @include flex-space-between;
  margin-bottom: $spacing-sm;
}