@import "../../theme/variables.scss";

.wrapper {
    position: relative;
    width: max-content;

    .error{
        border: 1px solid $error-color;
    }
    
    .error_message {
        text-align: center;
        color: $error-color;
    }
}