@import "../../theme/variables.scss";

.calendar_day {
    @include flex-center;
    cursor: pointer;
    position: relative;
    height: $size-base-cell;
    border-radius: $border-radius-base;

    &:hover {
        background-color: $primary-hover-color;
        color: $light-color
    }
}

.additional_day {
    cursor: pointer;
    color: $grey-base-color;
}

.disabled_day {
    cursor: default;
    color: $dark-color;
    opacity: $opacity-low;
    padding: $spacing;
    margin: $spacing;

    &:hover {
        background-color: $primary-hover-color;
        color: inherit;

    }
}

.calendar_today {
    background-color: $grey-light-color;
}

.calendar_item {
    @include flex-center;
    cursor: pointer;
    padding: $spacing-md $spacing;
    border-radius: $border-radius-base;

    &:hover {
        background-color: $primary-hover-color;
    }
}

.calendar_year {
    @include fontSize($font-size-sm, $font-weight-normal);
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.calendar_unchoosable_year {
    font-weight: $font-weight-light;
    padding: $spacing-md;
    color: $grey-base-color;
}

.start_range {
    border-top-right-radius: $border-radius-none;
    border-bottom-right-radius: $border-radius-none;
    background-color: $primary-color !important;
    color: $light-color;
}

.end_range {
    border-top-left-radius: $border-radius-none;
    border-bottom-left-radius: $border-radius-none;
    background-color: $primary-color !important;
    color: $light-color;
}

.select_range {
    border-radius: $border-radius-none;
    background-color: $primary-light-color !important;
    color: $primary-color;
}

.weekend_day {
    background-color: $primary-light-color;
}

.has_todolist {
    position: absolute;
    top: $spacing-xs;
    right: $spacing-xs;
    width: $spacing-xs;
    height: $spacing-xs;
    background-color: $orange-color;
    border-radius: $border-radius-half;
}

.select_day {
    color: $light-color;
    background-color: $primary-color !important;

    &:hover {
        background-color: $primary-hover-color;
    }
}