@import "../../theme/variables.scss";


.datepicker_wrapper {
    position: relative;
    width: max-content;


    .error_message {
        text-align: center;
        color: $error-color;
    }

    .error {
        border: 1px solid $error-color;
    }
}