@import "../../assets/style/variables.scss";

.table_wrapper {
  width: 250px;
  max-width: 250px;
  box-sizing: content-box;
  border-radius: $base-border-radius;

  tr{
    display: grid;
    max-width: inherit;
    grid-template-columns: repeat(7, 1fr);
  }
  th{
    max-width: inherit;

    padding: 0;
  }
}