@import "../../theme/variables.scss";

.wrapper {
    position: relative;
    display: inline-block;
    border-radius: $border-radius-base;
    background-color: $grey-light-color;
    margin-left: $spacing-sm;
    padding: $spacing $spacing-xs;

    .questionIcon {
      display: inline-block;
      cursor: pointer;
    }
  
    .content {
      @include fontSize($font-size-sm, $font-weight-light);
      position: absolute;
      display: none;
      width: 120px;
      background-color: $white-color;
      border: 1px solid $grey-base-color;
      border-radius: $border-radius-base;
      padding: $spacing-xs;
      box-shadow: $spacing $spacing-xs $spacing-xs $grey-base-color;
      z-index: $z-index-high;
  
      &.visible {
        display: block;
      }
    }
  }
  