@import "../../theme/variables.scss";

.calendar_year {
    @include fontSize($font-size-sm, $font-weight-normal);
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    color: $dark-color;
}

.calendar_today {
    background-color: $grey-light-color;
}

.calendar_item {
    @include flex-center;
    cursor: pointer;
    padding: $spacing-md $spacing;
    border-radius: $border-radius-base;

    &:hover {
        background-color: $primary-hover-color;
    }
}

.calendar_unchoosable_year {
    font-weight: $font-weight-light;
    padding: $spacing-md;
    color: $grey-base-color;
}
